<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467895118867-vsvbn8c1vvveet8aeol1fcibban0ri3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467895118867-vsvbn8c1vvveet8aeol1fcibban0ri3a</string>
	<key>API_KEY</key>
	<string>AIzaSyDGKOsbamcgZxNvPkI7aDj6vjMbeelk4ws</string>
	<key>GCM_SENDER_ID</key>
	<string>467895118867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.provalone.groupchore</string>
	<key>PROJECT_ID</key>
	<string>group-chore-86903</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chore-86903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467895118867:ios:8074f716b4b60c8f78a3e6</string>
</dict>
</plist>